<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no, minimal-ui">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="format-detection" content="telephone=no, email=no">
    <meta name="applicable-device" content="mobile">
    <link rel="stylesheet" href="../../css/base_v3.min.css">
    <script src="../../js/flexible/rem.min.js"></script>
</head>
<body>
	<div class="uploadpage">
        <div class="upload" id="upload_img">
            <div class="upload-item">
                <input type="file" name="headpic[]" class="headpicinput_1" id="headpicinput_1" style="display: none;" onchange="UpLoad(this)">
                <input type="hidden" id="imgUrl_1" class="imgUrl" name="pics[]" value="http://live.diandong.com/upload/20170621/nx_1498056817903.png">
                <div id="" class="cell cell_1">
                    <a href="javascript:void(0);"><img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAAkCAYAAACJ8xqgAAABNElEQVRIS63WvU7DUAwF4GOYmBAP0odgSCdYM7AgBpb2BdjYkVigElUHti4ZoZEgyRsxICYmZJQbNSjk59q+N3P0yZGP7RACH2amXVHcENOMD3BLIZ7D3stHEJbOYbyYwR7WgHcmcBADbb+/Pi/V4BSWpumPCvRh9VeLQQkmBqWYCNRgXlCLTYIWbBSssbyoVgxe/E1Sk7M6GlPT1etyCNarMBTrgDGwFoyFOTAm5sDXt/IKxM/abo51ugavQbxpXyCsz5JkQURsWb6UZdnh0fFJCfDpHmDw0/l8vrSgLoeDU2GstA12LLQzKTHQwdHrXLImreJGDW7skEpHT4AVnbwpFtR7pLSoF9TmVARqUDEoRVWgBFWDXtSyokZR4MFUYbvm/v9wAh9B4L7SvKjuGXwB8OoX/ztva6m4XKYAAAAASUVORK5CYII=" id="preViewImg_1" class="preViewImg"></a>
                </div>
            </div>
            <div class="upload-item">
                <input type="file" name="headpic[]" class="headpicinput_1" id="headpicinput_1" style="display: none;" onchange="UpLoad(this)">
                <input type="hidden" id="imgUrl_1" class="imgUrl" name="pics[]" value="">
                <div id="" class="cell cell_1">
                    <a href="javascript:void(0);"><img src="http://i1.dd-img.com/assets/image/1495764543-95352fde674ead19-200w-200h.png" id="preViewImg_1" class="preViewImg"></a>
                </div>
            </div>
        </div>
	</div>

    <script src="upload.debug.js"></script>
</body>
</html>